
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png"> -->
	<!-- <link rel="icon" type="image/png" href="assets/img/favicon.png"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Shaft</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- CSS Files -->
    <link href="static/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="static/colors.css" rel="stylesheet" /> -->

    <style>
        body {
            background-color: #2D405D;
            font-size: 1.7em;
        }

        .panel {
            background-color: #F7F5F3;
        }

        .panel-heading {
            background: none;
            text-align: center;
            border: none;
        }

        .navbar-inverse a, .navbar-inverse .navbar-text  {
            color: #F7F5F3 !important;
        }

        .panel-title {
            color: inherit;
            font-weight: bold;
            font-size: 18px;
        }

        .panel-body {
            color: inherit;
        }

        .panel {
            padding: 10px;
            border-radius: 10px;
        }

        .panel-dark {
            background-color: rgb(30, 41, 57);
            color: #F7F5F3;
            border-color: #F7F5F3;
        }

        .panel-accent {
            background-color: #82748B;
            color: #F7F5F3;
            border-color: #F7F5F3;
        }

        .panel-accent .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            border-top: 1px solid #908596;
        }

        .panel-accent .table-hover>tbody>tr:hover {
            background-color: #908596;
        }

        .panel img {
            display: block;
            width: 100%;
            height: auto;

            border-radius: 10px;
        }


        .table tr :last-child {
            text-align: right;
        }

        .navbar-form {
            display: inline;
        }

        {{#>css}}
        {{/css}}
    </style>
</head>

<body>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="home">Shaft</a>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
				<li lass="active"><a href="home">Balances</a></li>
				<li><a href="transactions">Transactions</a></li>
            </ul>

            <div class="navbar-right">
                <p class="navbar-text">Signed in as {{display_name}}</p>
                <form method="post" action="logout" class="navbar-form">
                    <button class="btn btn-primary navbar-btn">Sign out</button>
                </form>
            </div>
    	</div>
	</div>
</nav>


<div class="wrapper">
	{{> page}}
</div>


</body>

<!--   Core JS Files   -->
<script src="static/jquery.min.js" type="text/javascript"></script>
<script src="static/bootstrap.min.js" type="text/javascript"></script>

<script>

    {{#> end-script}}
    {{/end-script}}

</script>
</html>
