{{#*inline "page"}}
    <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
    <div class="container"><div class="row justify-content-md-center">
        <div class="col-sm-6 col-sm-push-6">
            <div class="panel panel-dark">
                When you are ready, <a href="/">click here to get shafting</a>!
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="panel panel-accent">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to Shaft</h3>
                </div>
                <div>
                    <p>
                        This is your special login page. You can bookmark this page and use it to log in.
                    </p>
                    <hr>
                    <p>
                        You do not need a password to use Shaft; but note that you shouldn't share this link with anyone else. Otherwise, they can impersonate you.
                    </p>
                </div>
            </div>
        </div>
    </div></div>
{{/inline}}

{{> base}}
