{{#*inline "page"}}
    <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
    <div class="container"><div class="row justify-content-md-center">
        <div class="col-sm-6 col-sm-push-6">
            <div class="panel panel-dark">
                :(
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-pull-6">
            <div class="panel panel-accent">
                <div class="panel-heading">
                    <h3 class="panel-title">Not logged in to Shaft!</h3>
                </div>
                <div>
                    <p>
                        Welcome to Shaft. You can't shaft yet – you must log in first. To do so, you need to open your login link.
                    </p>
                    <hr>
                    <p>
                        We hope to see you ready to shaft soon!
                    </p>
                </div>
            </div>
        </div>
    </div></div>
{{/inline}}

{{> base}}
